<div class="search-form mt-4">
    <form method="POST">
        <div class="mb-3">
            <label class="form-label">Từ khóa</label>
            <input type="text" name="q" class="form-control" placeholder="Nhập từ khóa">
        </div>
        <div class="mb-3">
            <label class="form-label">Từ khóa</label>
            <input type="text" name="age" class="form-control" placeholder="Nhập từ khóa">
        </div>
        
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>